Package: com.banditlabs.locktunes
Name: Locktunes
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: DarkMalloc
Author: DarkMalloc
Section: Tweaks
